@font-face {
    font-family: 'calcFont';
    src: url(fonts/Digital7-rg1mL.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #DFE1E5;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 5px;
    border-radius: 10px;
    background-color: #292929;
    width: 250px;
    height: 360px;
    border: 1.5px solid #010101; 
    box-shadow: 1px 2px 4px 1px #414141;
}

.upperArea {
    background-color: #141414;
    width: 220px;
    height: 90px;
    padding: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 1px 2px 4px 1px #414141;
    color: #F4A8A2;
    font-family: 'calcFont', Arial, Helvetica, sans-serif;
}

.calculations {
    font-size: 15px;
}

.answer {
    font-size: 45px;
}

.lowerArea {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #F4A8A2;
    background-color: #292929;
    border: 1px solid #141414; 
    box-shadow: inset 2px 2px 4px #414141;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    box-shadow: 2px 2px 4px #414141;
}

.notRound {
    width: 50px;
    height: 30px;
    border-radius: 10px;
}

.equalButton {
    background-color: #F4A8A2;
    color: #292929;
    box-shadow: 2px 2px 4px #414141;
}

.equalButton:hover {
    box-shadow: inset 2px 2px 4px #A07373;
}