@font-face {
    font-family: 'calcFont';
    src: url(fonts/Digital7-rg1mL.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #DFE1E5;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
    gap: 6px;
    border-radius: 12px;
    background-color: #292929;
    width: 300px;
    height: 432px;
    border: 1.5px solid #010101; 
    box-shadow: 1px 2px 4px 1px #414141;
}

.upperArea {
    background-color: #141414;
    width: 264px;
    height: 108px;
    padding: 12px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 1px 2px 4px 1px #414141;
    color: #F4A8A2;
    font-family: 'calcFont', Arial, Helvetica, sans-serif;
}

.calculations {
    font-size: 18px;
}

.answer {
    font-size: 54px;
    justify-self: flex-end;
}

.lowerArea {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: #F4A8A2;
    background-color: #292929;
    border: 1px solid #141414; 
    box-shadow: inset 2px 2px 4px #414141;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    box-shadow: 2px 2px 4px #414141;
}

.notRound {
    width: 60px;
    height: 36px;
    border-radius: 12px;
}

.equalButton {
    background-color: #F4A8A2;
    color: #292929;
    box-shadow: inset 2px 2px 4px #F1BCBC;
}

.equalButton:hover {
    box-shadow: inset 2px 2px 4px #A07373;
}